.page-title {
  font-size: 1.8rem;
  padding: 1rem 0;
}

.section-title {
  font-size: 1.2rem;
  padding: 1.5rem 0;
  margin: 0 auto;
  text-align: center;
}

.spinner {
  margin: 2rem auto;
  max-height: 10px;
  max-width: 10px;
  //padding: 3rem 0

}


