//https://angular-material.dev/articles/customizing-angular-material-button

.button-rounded {
  border-radius: 25% / 50%;
}

.mat-raised-button {
  // rest
  border-radius: 4px;
}

.button-rounded {
  &.mat-button,
  &.mat-raised-button,
  &.mat-flat-button {
    border-radius: 25% / 50%;
  }
}
