input {
  //background-color: black;
  //color: white;
  font-size: larger;
  margin: 12px;
  width: 20rem;
  //padding: .5rem
}

.title-wrapper {
  display: flex;
  align-items: center;
  gap: 1rem;
}
