@use 'styles/custom-theme-vars' as vars;
@use 'styles/page-elements';
@import "../node_modules/@angular/material/prebuilt-themes/cyan-orange.css";

:root {
  // Main background color for all surfaces (page, cards, etc.)
  --mat-sys-surface: #{vars.$custom-dark-surface-color};
  --mat-sys-background: #{vars.$custom-dark-surface-color};

  // Main text and icon color that sits on the dark background
  --mat-sys-on-surface: #{vars.$custom-dark-on-surface-color};
  --mat-sys-on-background: #{vars.$custom-dark-on-surface-color};
}

html, body {
  font-family: 'Roboto', sans-serif;
  height: 100%;

}


body {
  margin: 0;
}

.centred-max-width {
  max-width: vars.$app-max-content-width;
  margin: 0 auto;
}


.standard-wrapper {
  padding: 2rem;
  overflow: hidden;
}

.flex-spacer {
  flex: 1;
}

.debug {
  border: lime 1px solid;
}
