@import "@angular/material/prebuilt-themes/cyan-orange.css";

html, body {
  font-family: 'Roboto', sans-serif;
  height: 100%;

}


body {
  margin: 0;
}

.centred-max-width {
  max-width: 900px;
  margin: 0 auto;
}

.standard-wrapper {
  padding: 2rem;
}


.debug {
  border: lightcoral 1px solid;
}
