/* You can add global styles to this file, and also import other style files */

html, body {
  //--mat-sys-background: transparent;
  background: #00000022;
  color :#cccccc;
  height: 100%;
  font-family: Roboto, "Helvetica Neue", sans-serif;
  //background-image: url('assets/img/blue-waves.jpg');
  //background-size: cover;
  //background-position: center;
  //background-repeat: no-repeat;
  //background-attachment: fixed;
}
