.form {
  max-width: 600px;
  display: flex;
  flex-direction: column;
  gap: 1rem;
  margin: 0 auto;

  .form-title {
    justify-content: start;
  }
}

.contact-form {
  padding: .25rem 0;

  .contact-form-row {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 1rem;

    > mat-form-field {
      flex: 1;
    }
  }

}

.button {
  width: 200px;
}

p {
  color: var(--mat-sys-primary)
}
