@use '../../../../../styles/custom-theme-vars' as vars;

.team-tile-wrapper {
  display: flex;
  align-items: center;
  gap: 1rem;
  //border: solid 1px grey;
  //border-radius: 12px;
  padding: .25rem;
  width: 200px;

  .name {
    font-size: 1.1rem;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis
  }

}


.team-tilez {
  //padding: 1rem;
  //border: 1px solid var(--mat-sys-on-surface);
  ////border: 1px solid yellow;
  //width: 200px;
  //border-radius: 12px;
  //text-align: center;
  //font-size: 1.2rem;

}

.vertical-padding {
  //padding: .5rem 0;

}

mat-card {
  padding: .5rem;
  text-align: center;
  width: 200px;

  mat-card-title {
    font-size: 1.1rem;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis
  }

}

.post-code {
  font-size: 0.8rem;
  //text-align: left;
}

