.team-summary {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1rem;
  //border: 1px solid grey;
  //border-radius: 12px;
  padding: 1rem;

  .name {
    font-size: x-large;
  }

  .id {
    font-size: small;
  }
}

.contacts-title {
  font-size: 1.2rem;
  padding: .5rem 0;
  margin: 0 auto;
  text-align: center;
}

.contacts {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  gap: .5rem;
  padding: .5rem;

  .contact-tile {
    width: 250px
  }
}


