.team-summary {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1rem;
  border: 1px solid grey;
  padding: 1rem;
  border-radius: 12px;

  .name {
    font-size: x-large;
  }

  .id {
    font-size: small;
  }
}


